<p>add-employee works!</p>
<h2>Add Employee</h2>
<div class="container">
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" required [(ngModel)]="employee.firstName" name="first-name">
    </div>
    <div class="form-group mt-2">
        <label for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" required [(ngModel)]="employee.lastName" name="last-name">
    </div>
    <div class="form-group mt-2">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="employee.email" name="email">
    </div>
    <div class="form-group mt-2">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" required [(ngModel)]="employee.phoneNumber" name="phone">
    </div>
    <div class="form-group mt-2">
        <label for="position">Position</label>
        <input type="text" class="form-control" id="position" required [(ngModel)]="employee.position" name="position">
    </div>
    <div class="form-group mt-2">
        <label for="department">Department</label>
        <input type="text" class="form-control" id="department" required [(ngModel)]="employee.department" name="department">
    </div>
    <button class="btn btn-primary mt-3" (click)="addEmployee()">Add Employee</button>
</div>
